main{
    width: 800px;
    height: 500px;
    background-color: #545454;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    color:#fcfcfc;
}
#wolf{
    width: 140px;
    height: 140px;
}
#human{
    width: 350px;
    height: 350px;
    box-shadow: 10px 10px 10px rgba(179, 179, 179, 0.33);
}
.one, .two{
    width: 50%;
}
p{
    margin-top: 100px;
    width: 355px;
    color: #d3d3d3;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}